build/CMakeCache.txt
build/CopyOfCMakeCache.txt
build/CMakeFiles/cmake.check_cache
c/Users/Elena/Links/AVT/projects/db_cpp/build/CMakeFiles/3.23.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.23.2/CMakeSystem.cmake
c/Users/Elena/Links/AVT/projects/db_cpp/build/CMakeFiles/CMakeError.log
c/Users/Elena/Links/AVT/projects/db_cpp/build/CMakeFiles/CMakeOutput.log
c/Users/Elena/Links/AVT/projects/db_cpp/build/CMakeFiles/3.23.2/CompilerIdC/CMakeCCompilerId.c
build/.cmake/api/v1/query/client-vscode/query.json
